@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
@import url("https://v1.fontapi.ir/css/Estedad");

/* @font-face {
  font-family: ;
  src: url();
} */

* {
  direction: rtl;
  font-family: "Lalezar", serif;
}

small{
  font-family: Estedad, sans-serif;
}